/* Cascading Style Sheet for reversals; 6 x 9 inch layout info */

/* Need to override font size for the following three items: */
.Lemma { font-size: 10.5pt ; }
.Lemma:after {  font-size: 9.5pt ; }

div.Reversal_Entry {
    font-size: 9.5pt;
}

body {
	font-family: "Charis SIL AmArea" ;
    column-count: 2; -moz-column-count: 1; -webkit-column-count: 1;
	column-fill: auto;
	column-gap: .2in; -moz-column-gap: .2in; -webkit-column-gap: .2in;
/*    column-fill: balance ;  */
    font-size: 9.5pt ;
    counter-reset: page 213;
    /*string does not work here: counter-reset: page string(Starting_Page_Number_String);*/ 
  }

    @page
    {
        /* to use Princess for pictures: page size in inches and portrait required ... in inches */
        size: 6in 9in portrait ;
        margin: 1in 1in 1in 1in ;
        margin-top: .6in;
        margin-outside: .4in;
        margin-bottom: .3in;
        margin-inside: .6in;
        
        font-family: "Charis SIL AmArea" ;  
        direction: ltr;
        font-weight: normal;
        font-size: 4pt;
    /*    marks: crop cross ;*/
    
         
    	@top-center  {
           font-weight: normal ;
    	   border-bottom: none ;
           margin-bottom: 0pt ; 
    	   margin-top: 5pt ;
           font-size: 9.5pt;
     	   content: string( Title_String); 
           font-family: "Charis SIL Small Caps";
    }
        @top-left {  
           font-size: 9.5pt ; 
           content: normal ; 
           border-bottom: none ; 
           margin-bottom: 0pt ;
    	   margin-top: 5pt ;
     }
        @top-right {  
           font-size: 9.5pt ; 
           content: normal ; 
           border-bottom: none ; 	
           margin-bottom: 0pt ;
    	   margin-top: 5pt ;
    }
        @bottom-left {  content: normal ; }
        @bottom-center { 
            font-size: 10pt;
     	   content: string( Footer_String); 
     	   margin-top: -13pt;
    }    
        @bottom-right { content: normal }
    }
    
/* Running Head Mirrored.css */
@page :left {      
    margin: .6in .6in .3in .4in ;
    
    @top-left {
        content: string( Guideword_String, first);
       /*margin-left: -12pt;*/
       }
    @top-center    
    { 
    }

    @top-right {        
        /*font-size: 10pt; */ 
        content: counter( page);
    }

    @bottom-left 
    {
    }

   @bottom-center
   {
                          font-size: 10pt;
     	   content: string( Footer_String); 
   }
   @left-top
    {
	content: flow(locator_left) ;
   	    margin-right: 0;
        text-align: left ;
  }
}

@page :right {
        margin: .6in .4in .3in .6in ;
   
    @top-right  
    {
        content: string( Guideword_String, last);
    }
   
   
   
   @bottom-center
   {
            font-size: 10pt;
     	   content: string( Footer_String); 
   }
     @bottom-right   
    { 
    }
    @top-left 
    {        content: counter(page); 
        /* font-size: 10pt; */ 
        /* margin-left: -12pt;  */
    }
    @right-top
    {
content: flow(locator_right) ;
        margin-left: 0;
        text-align: right ;

}

}
